<div class="container">
  <div class="flex-column">
    <div class="mb-4">
      <h3 class="text-center my-4">Search for Weather:</h3>
      <form [formGroup]="weatherSearchForm" (ngSubmit)="sendToWeatherStack(weatherSearchForm.value)">
        <div class="form-group">
          <input class="form-control" type="text" id="weatherLocation" aria-describedby="weatherLocation"
            placeholder="Please input a Location" formControlName="location" />
        </div>
        <div class="text-center">
          <button type="submit" class="btn btn-primary btn-md">
            Search for the weather
          </button>
        </div>
      </form>
    </div>
    <div *ngIf="weatherData">
      <h3 class="text-center">Weather Details:</h3>
      <p class="text-center">
        Current weather conditions:
        {{ this.weatherData?.current.weather_descriptions }}
      </p>
      <p class="text-center">
        Temperature: {{ this.weatherData?.current.temperature }}
      </p>
      <p class="text-center">
        Feels like in Degrees Celsius :
        {{ this.weatherData?.current.feelslike }}
      </p>
      <p class="text-center">
        Location Searched: {{ this.weatherData?.location.name }},
        {{ this.weatherData?.location.country }}
      </p>
    </div>
  </div>
</div>
